!!!!!
!
! Xresources : Configuration for various X programs
! Symlink to ~/.Xresources
!
!!!!!

!! URxvt Settings

! do not scroll with output
URxvt.scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! scroll back to bottom on keypress
URxvt.scrollTtyKeypress: true

! disable scrollback buffer in secondary screen (such as less)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

! disable scrollbar
URxvt.scrollBar: false

! set font
URxvt.font: xft:fantasque sans mono:size=10

! reduce font spacing
Urxvt.letterSpace: -1

! xft settings
Xft.dpi: 118
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hinstslight

! Colors (gruvbox light theme)
! https://github.com/morhetz/gruvbox

*background: #fbf1c7
*foreground: #3c3836

! black dark/light
*color0: #7c6f64
*color8: #928374

! red dark/light
*color1: #cc241d
*color9: #9d0006

! green dark/light
*color2: #98971a
*color10: #79740e

! yellow dark/light
*color3: #d79921
*color11: #b57614

! blue dark/light
*color4: #458588
*color12: #076678

! purple dark/light
*color5: #b16286
*color13: #8f3f71

! aqua dark/light
*color6: #689d6a
*color14: #427b58

! orange dark/light
*color7: #d65d0e
*color15: #af3a03



